*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    padding: 20px;
}

.card{
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 320px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 25px 25px rgb(0,0,0,0.1);
}

.card_img{
    width:100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card h2{
    font-size:16px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 12px;
}

.card p{
    font-size: 12px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.attribution{
    margin-top: 20px;
    text-align: center;
}